<!-- about-page.component.html -->

<div class="about-section">
    <div class="content">
        <h2>About Me</h2>
        <p>
          Hi, I'm Colby, a dedicated software engineer with a knack for problem-solving through code. My coding journey began with a web-based DIY garage door opener project, a solution born out of necessity when my garage fob went missing.
        </p>
        <p>
          I've been a part of ConnectiveRx for over two years, contributing my skills as a software engineer. My educational journey at Moravian University, where I earned a Bachelor of Science in Computer Science, exposed me to diverse areas such as artificial intelligence, computer graphics, and DevOps.
        </p>
        <p>
          Outside the realm of programming, you'll find me immersed in music, playing guitar and bass guitar across genres from Beatles to Slipknot. I'm equally passionate about 3D Printing and tinkering with small electronics.
        </p>
      </div>
    <img class="profile-image" src="assets/images/me.png" alt="Colby's Image">
  </div>

  <div class="skills-section">
    <h2>Skills</h2>
    <ul>
      <li>Programming Languages: Python | JavaScript/Typescript | Java | C# | HTML/CSS | PHP</li>
      <li>Web Development: Angular | React | NodeJS | Vue.JS</li>
      <li>Database: PostgreSQL | MongoDB | Redis</li>
      <li>Virtualization: Docker | Vagrant | Kubernetes</li>
      <li>Cloud Technologies: AWS | Azure DevOps</li>
    </ul>
  </div>
  
  <div class="experience-section">
    <h2>Work Experience</h2>
    <p>
      ConnectiveRx - Software Engineer (May 2021-Present)
    </p>
    <p>
      Grace United Methodist Church - Technical Director (March 2024-Present)
    </p>
  </div>