<!-- about-page.component.html -->

<div class="about-section">
    <div class="content">
        <h2>About Me</h2>
        <p>
          Hi, I'm Colby, a dedicated software engineer with a knack for problem-solving through code. My coding journey began with a DIY garage door opener project, a solution born out of necessity when my garage fob went missing.
        </p>
        <p>
          I've been part of the ConnectiveRx family for two years, contributing my skills as a software engineer. My educational journey at Moravian University, where I earned a Bachelor of Science in Computer Science, exposed me to diverse areas such as artificial intelligence and computer graphics.
        </p>
        <p>
          Outside the realm of coding, you'll find me immersed in music, playing guitar and bass guitar across genres from Beatles to Slipknot. I'm equally passionate about 3D printing and tinkering with small electronics. Let's connect and share our stories in the vast world of technology!
        </p>
      </div>
    <img class="profile-image" src="assets/images/me.png" alt="Colby's Image">
  </div>

  <div class="skills-section">
    <h2>Skills</h2>
    <ul>
      <li>Programming Languages: Python, JavaScript, Java</li>
      <li>Web Development: Angular, React, Node.js</li>
      <li>Cloud Technologies: AWS, Docker</li>
      <!-- Add more skills as needed -->
    </ul>
  </div>
  
  <div class="experience-section">
    <h2>Work Experience</h2>
    <p>
      ConnectiveRx - Software Engineer (2019-Present)
      <!-- Add details about your work experience -->
    </p>
    <!-- Add more work experiences as needed -->
  </div>