<nav class="navbar">
    <ul class="nav-list">
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <!-- <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li> -->

      <li class="dropdown" (mouseenter)="toggleDropdownOne()" (mouseleave)="toggleDropdownOne()">
        <a routerLink="/projects">Projects</a>
        <div *ngIf="showDropdownOne" class="dropdown-content">
          <a routerLink="/projects/canvas-to-calendar">Canvas to Calendar</a>
          <a routerLink="/projects/youtube-notify">YouTube Notify Bot</a>
          <a routerLink="/projects/mindfl">mindfl</a>
          <a routerLink="/projects/wedding-placecards">Wedding Placecards</a>
          <a routerLink="/projects/mirrulations">Mirrulations</a>
          <a routerLink="/projects/dnd-5e">D&D 5e Quick Ref</a>
          <a routerLink="/projects/persian-parade">Persian Parade</a>
        </div>
      </li>
      <li class="dropdown" (mouseenter)="toggleDropdownTwo()" (mouseleave)="toggleDropdownTwo()">
        <a routerLink="/fun-stuff">Fun Stuff</a>
        <div *ngIf="showDropdownTwo" class="dropdown-content">
          <a routerLink="/fun-stuff/3d-printing">3D Printing</a>
          <a routerLink="/fun-stuff/home-improvement">Home Improvement</a>
          <!-- <a routerLink="/fun-stuff/dtd">Delta Tau Delta</a> -->
        </div>
      </li>
    </ul>
  </nav>