// navbar.component.scss

.navbar {
    background-color: #453D34;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  
    .nav-list {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
  
      li {
        a {
          text-decoration: none;
          color: #fff;
          font-weight: bold;
          &:hover {
            text-decoration: underline;
          }
        }
  
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }

    .dropdown {
    position: relative;

    .dropdown-content {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #f9f9f9;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #333;
      }
    }

    &:hover .dropdown-content {
      display: block;
    }
  }
  .dropdown {
    position: relative;

    .dropdown-content {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #f9f9f9;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #333;
      }
    }

    &:hover .dropdown-content {
      display: block;
    }
  }
  }
  