
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color:#FCECC9;
  }
  
  header {
    background-color: #445098;
    color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.75);
  }
  
  h1 {
    margin: 0;
  }

  h2, h3 {
    color: #8d9ec6;
  }
  
  .about-me, .projects {
    max-width: 75%;
    margin: 25px auto;
    display: flex;
    justify-content: center;
    color: #18181E;
    a {
      color: #4062BB;
    }
  }

  mat-card {
    background-color: #fff;
    width: 75%;
    padding: 25px;
  }


  
  footer {
    background-color: #453D34;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;

    a {
      color: #fff;
    }
  }