<header>
    <h1>Colby Hillman</h1>
    <p>Software Engineer | Web Developer | Maker</p>
</header>
  
  <section class="about-me">
  <mat-card>
      <mat-card-title>
        <h2>About Me</h2>
      </mat-card-title>
      <mat-card-content>
        <p>Hello! I'm Colby, a passionate software engineer with expertise in web development. I enjoy building innovative and user-friendly applications that solve real-world problems.</p>
      </mat-card-content>
    </mat-card>
  </section>
  
  <section class="projects">
  <mat-card>
      <mat-card-title>
        <h2>Projects</h2>
      </mat-card-title>
      <mat-card-content>
      <p>Explore some of my recent projects that showcase my technical skills and creativity. From web applications to software solutions, each project reflects my dedication to quality and efficiency.</p>
      <p>Please note that I am currently working on this site. Pardon the appearance while I work on this in my free time.</p>
        <div>
          <h3>mindfl</h3>
          <p>An Emotion Journal that helps you track your moods!</p>
          <a routerLink="/projects/mindfl">View Project</a>
        </div>
        <br/>
        <div>
          <h3>Canvas to Calendar</h3>
          <p>A Lambda Function to import Canvas LMS Assignments into Google Calendar</p>
          <a routerLink="/projects/canvas-to-calendar">View Project</a>
        </div>
        <br/>
        <div>
          <h3>YouTube Notify Discord Bot</h3>
          <p>A Discord Bot to keep your community updated on your favorite creators!</p>
          <a routerLink="/projects/youtube-notify">View Project</a>
        </div>
      </mat-card-content>
    </mat-card>
  </section>